{% extends 'base.html' %}

{% block content %}
    <h3>Neues Passwort für Label eingeben:</h3><br>
    <div class="pwInput">
            <form action= 'pw_print' method= 'POST'>
                <p><legend>erstelltes Passwort</legend></p>
                <p><input type='text' name='pw' value='' size='30' maxlength='50'/></p>
                <p><legend>Anzahl der benötigten Label</legend></p>
                <p><input type='number' name='anzahl' value='3' min='0' max='5'/></p>
                <p><input type='submit' value='drucken'/></p>
            </form>
    </div>
{% endblock %}